<header>
  <div class="navbar">
    <a href="/">Home</a>  
    <a href="/about.ejs">About</a>
    <a href="/public.ejs">Public</a>
    <a href="/contact.ejs">Contact</a>
    <a href="/submit.ejs">Submit</a>
    <!-- <a href="/login.ejs" class="login-btn">Login</a> -->
  </div>
</header>
